.LoginForm {
  width: 99%;
  max-width: 499px;
  border-radius: 7px;
  background-color: white;
  margin: 0 auto;

  padding: 30px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  box-shadow: 0 0 5px #ccc;
}

.LoginForm h1 {
  margin: 0;
  letter-spacing: 1.5px;
  font-weight: 499;
  margin-bottom: 22px;
}

.InputField {
  width: 99%;
  padding-top: 14px;
  font-size: 12px;
  box-sizing: border-box;
  border: 0;
  border-bottom: 3px solid #8c8c88;
  margin-bottom: 13px;
  outline: none;
}

.Button {
  display: inline-block;
  border-radius: 28px;
  padding: 13px 35px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #20b883;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 23px;
}
